{{> adminHeader}}

    <div class="container pt-3">
        <div class="row">
            {{!-- user count --}}
            <div class="col-lg-3">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Your Products Count</div>
                    <div class="card-body d-flex">
                        <h5 id="productsCount" class="card-title"></h5>
                        <h6 id="categoryCount" style="margin-left: 10px;"></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Completed Orders</div>
                    <div class="card-body">
                        <h5 id="completedOrdersCount" class="card-title"></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Pending Orders</div>
                    <div class="card-body">
                        <h5 id="pendingOrdersCount" class="card-title"></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Today's Revenue</div>
                    <div class="card-body">
                        <h5 id="currentDayRevenue" class="card-title"></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <canvas id="twoWeeksSalesChart"></canvas>
            </div>
            <div class="col-lg-6">
                <canvas id="categoryWiseRevenueChart"></canvas>
            </div>
        </div>
    </div>


<allScripts>

    <script>
        const uploadBtnElement = document.getElementById('uploadBtn')
        uploadBtnElement.addEventListener('click', uploadBtnClickFn.call(this))

        async function uploadBtnClickFn(e) {
            try {
                e.preventDefault()
                let formData = new FormData(this)
                const response = await fetch('/admin/dashboard/bannerImage/upload', { method: 'POST', body: formData })
                const data = response.json()
                if (data.success) {
                    return Swal.fire({
                        title: "Banner image uploaded Successfully",
                        icon: "success"
                    });
                }
            } catch (error) {
                console.error(error)
            }
        }

    </script>



    {{!-- Charts --}}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const fetchData = (async () => {
            try {
                const response = await fetch('/admin/dashboardData', { method: 'GET' });
                const data = await response.json();
                const {
                    productsCount,
                    categoryCount,
                    pendingOrdersCount,
                    completedOrdersCount,
                    currentDayRevenue,
                    fourteenDaysRevenue,
                    categoryWiseRevenue
                } = data

                document.getElementById('productsCount').innerText = productsCount
                document.getElementById('categoryCount').innerText = 'in ' + categoryCount + ' categories'
                document.getElementById('pendingOrdersCount').innerText = pendingOrdersCount
                document.getElementById('completedOrdersCount').innerText = completedOrdersCount
                document.getElementById('currentDayRevenue').innerText = '₹' + currentDayRevenue

                const twoWeeksSalesChartElement = document.getElementById('twoWeeksSalesChart');
                const twoWeeksSalesChartOptions = {
                    type: 'line',
                    data: {
                        labels: fourteenDaysRevenue.date,
                        datasets: [{
                            label: 'Last 2 weeks revenue per day',
                            data: fourteenDaysRevenue.revenue,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: { y: { beginAtZero: true } }
                    }
                }

                const categoryWiseRevenueChartElement = document.getElementById('categoryWiseRevenueChart');
                const categoryWiseRevenueChartOptions = {
                    type: 'polarArea',
                    data: {
                        labels: categoryWiseRevenue.categoryName,
                        datasets: [{
                            data: categoryWiseRevenue.revenuePerCategory,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(75, 192, 192, 0.5)',
                                'rgba(255, 255, 0, 0.5)',
                                'rgba(169, 169, 169, 0.5)',
                                'rgba(0, 0, 255, 0.5)'
                            ]
                        }]
                    }
                }

                new Chart(twoWeeksSalesChartElement, twoWeeksSalesChartOptions);
                new Chart(categoryWiseRevenueChartElement, categoryWiseRevenueChartOptions);
            } catch (error) {
                console.error(error)
            }
        })();
    </script>

</allScripts>

{{> adminFooter}}