<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    {{!-- cropper js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
        integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-info bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand fw-bold" href="/admin"><img src="/images/logo-dark.png" alt="LFKart"></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/userManagement">User Management</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/categoryManagement">Categories</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/productManagement">Products</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/orderManagement">Orders</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/SalesReport">Sales Report</a>
                        </li>
                    </ul>
                    <form action="logout" method="post" class="d-flex">
                        <button class="btn btn-danger" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container pt-3">
            <div class="row">
                {{!-- user count --}}
                <div class="col-lg-3">
                    <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Your Products Count</div>
                        <div class="card-body">
                            <h5 class="card-title">{{productsCount}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Completed Orders</div>
                        <div class="card-body">
                            <h5 class="card-title">{{completedOrdersCount}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Pending Orders</div>
                        <div class="card-body">
                            <h5 class="card-title">{{pendingOrdersCount}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Today's Revenue</div>
                        <div class="card-body">
                            <h5 class="card-title">₹{{currentDayRevenue}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <canvas id="myChart"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                    const fetchDataAndRenderChart = async () => {
                        const response = await fetch('/admin/dashboardData'); // Replace with the actual endpoint
                        const data = await response.json();

                        console.log(data);

                        const ctx = document.getElementById('myChart');
                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: data.date,
                                datasets: [{
                                    label: '# of Votes',
                                    data: data.revenue,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }

                    fetchDataAndRenderChart();
                </script>


            </div>
            {{!-- <div class="row">
                <div class="col-lg-6">
                    <div id="chart">
                        <h3 style="padding: 12px;vfont-weight: bold; color: darkblue;">Total Revenue</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="charts-section mt-6">
                        <div id="piechart" class="col-6 d-flex flex-column mt-1">
                            <h3 style="padding: 7px;font-weight: bold; color: darkblue;">Payment Method </h3>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>

        {{!-- Banner Image --}}
        <div class="container-fluid">
            <p class="h1">Upload LFKart Banner Image</p>

            <div class="input-group mb-3">
                <img id="previewBannerImg" src="" style="width: 480px; height: 212px; " alt="Img">
                <div class="input-group mb-3">
                    <input id="bannerImage" name="productImage1" type="file" class="form-control"
                        placeholder="Product Image1" onchange="displayImage()">
                    <button type="button" class="btn btn-info">Upload</label>
                </div>
            </div>

        </div>
    </div>

    <allScripts>
        {{!-- display image --}}
        <script>
            function displayImage() {
                const reader = new FileReader()
                reader.onload = () => {
                    previewBannerImg.src = reader.result
                }
                const file = document.querySelector("#bannerImage").files[0];
                if (file) {
                    previewBannerImg.style.display = 'block'
                    reader.readAsDataURL(file)
                }
            }
        </script>
        {{!-- cropperjs --}}
        <script>
            const previewBannerImgElement = document.getElementById('previewBannerImg')
            const cropper = new Cropper(previewBannerImgElement, {
                aspectRatio: 0,
                viewMode: 0
            })
        </script>

        {{!-- fetch all data for dashboard --}}
        <script>
            var fetchLandingPageData = async () => {
                const response = await fetch('/admin/dashboardData', { method: 'GET' })
                var data = await response.json()
                console.log(data)
                console.log(data.fourteenDaysRevenue)
            }()
        </script>


    </allScripts>


</body>

</html>